/*-----------------------------------------------------------------------------------

    Template Name: PetTown Blog and Shop Responsiv Template
    Template URI: http://perculatheme.com/html/pettown-preview/
    Description: This is html5 template
    Author: Kaji Hasibur Rahman
    Author URI: http://perculatheme.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
	2. header style start
	3. slider area style start
	4. blog-area start
	5. instagram-area start
	6. footer-area start
	7. home2 style here
	8. home4-style here
	9. home5-style here 
	10. home7-style here 
	11. Standard post-style here
	12. Typography post-style here
	13. categories-style here
	14. shop-style here
	15. shop2-style here
	16. cart style here 
	17. About Us style here
	18. Checkout style here
	19. contact style here 
	20. coming soon style here
	21. 404 soon style here
/*----------------------------------------*/

/*---------1. Theme default CSS start ---------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700,800');
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.clear:before,
.clear:after {content: " ";display: table;}
.clear:after {clear: both;}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #222;
    padding: 0.2em 0;
}
body {
  background: #ffffff;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height:26px;
  font-size:16px;
}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 10px;}
h1, h2, h3, h4, h5, h6 {
  color: #a7cc38;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 10px;
  margin-top: 0px;
}
.search-box input:focus {
  border: 1px solid #888;
}
a {transition: all 0.5s ease 0s;text-decoration:none; color:#000}
a:hover {color: # a7cc38;text-decoration: none;}
a:active, a:hover, a:focus { outline: none;text-decoration:none;}
ul{list-style: outside none none;margin: 0;padding: 0}


.mt-20{margin-top:20px;}
.mt-10{margin-top:10px;}
.mt-50{margin-top:50px;}
.mt-30{margin-top:30px;}

.mb-35{margin-bottom:35px;}
.mb-30{margin-bottom:30px;}
.mb-50{margin-bottom:50px;}
.mb-20{margin-bottom:20px;}
.mb-60{margin-bottom:60px;}
.mb-70 {margin-bottom: 70px;}
.mb-40{margin-bottom:40px;}
.mb-80 {margin-bottom: 80px;}

.mr-68{margin-left:68px;}

.mtb-80{margin: 70px 0;}
.mtb-60{margin: 60px 0;}
.mtb-30{margin:30px 0px;}
.mtb-70{margin:70px 0px;}

.ptb-60{padding:60px 0px;}
.ptb-30{padding:30px 0px;}
.ptb-20{padding:20px 0px;}
.ptb-40{padding:40px 0px;}
.ptb-10{padding:10px 0px;}
.p-30-10{padding:30px 10px;}
.ptb-130{padding:130px 0px 125px 0;}


.pt-30{padding-top:30px;}
.pt-20{padding-top:20px;}
.pt-390{padding-top:390px;}

.pb-30{padding-bottom:30px;}
.pb-20{padding-bottom:20px;}
.pb-40{padding-bottom:40px;}


.bg-3{background:#d1d1d1;}
.bg-1{background:#37465d;}
.bg-2{background:#eeeeee;}
.slide-img-1{background:url(public/img/slider/1.jpg)no-repeat scroll 0 0/cover;}
.bg-img-1{background:url(public/img/bg/1.jpg)no-repeat scroll 0 0/cover;}
.bg-img-2{background:url(public/img/coming-soon.jpg)no-repeat scroll 0 0/cover;}
.bg-img-3{background:url(public/img/bg/404.jpg)no-repeat scroll 0 0/cover;}

.overlay{
	position:relative;
	z-index:111;
}
.overlay:after{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	opacity:.5;
	content:"";
	top:0;
	left:0;
	z-index:-1;;
}

a#scrollUp {
  background: #a7cc38;
  border-radius: 3px;
  bottom: 85px;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 50px;
  text-align: center;
  width: 50px;
  color:#fff;
  border:1px solid #a7cc38;
}
a#scrollUp:hover{
	border-color:#a7cc38;
	color:#a7cc38;
	background:transparent;
}
a#scrollUp, .cart-wrap, .cart-btn button, .cart-item-details span.remove, .search-box form button, .mainmenu li  a:after, .mainmenu li > ul, .slider-active .owl-controls .owl-dot, .next-prev-btn .owl-controls .owl-nav div, .instagram-img img, .instagram-img.overlay:after,.footer-wrap button, .footer-img a:before,.blog-search-blox button,.banner-img img,.home4-blog-img:after,.home7-blog-wrap .overlay::after,.standard-post-form button,.categories-img.overlay:after,.shop-wrap,.shop-icon,.add-to-cart,.shop-img > a:after,.shop-cart,.product-active .owl-nav div,.button,.checkout-form button{
	transition:all .5s;
}
/*----2. header style start -----*/
.socil-icon > a {
	border-left: 1px solid #898989;
	border-right: 1px solid #898989;
	color: #a7cc38;
	display: inline-block;
	font-size: 14px;
	padding: 15px;
}
.socil-icon > a:hover, .socil-icon ul li > a:hover{color:#fff;}
.socil-icon > a:first-child {
  border: medium none;
  padding-left: 0;
}
.socil-icon ul{display:inline-block;}
.socil-icon ul li{
	display:inline-block;
	position:relative;
}
.socil-icon ul li > a {
	display: block;
	font-size: 18px;
	padding:5px 8px;
	margin-left:5px;
	color:#a7cc38;
}
.socil-icon ul li > span {
	background: #999 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	height: 20px;
	line-height: 18px;
	position: absolute;
	right: -7px;
	text-align: center;
	top: 0;
	width: 20px;
}
.cart-wrap {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 20px 10px;
	position: absolute;
	right: 0;
	top: 150%;
	width: 280px;
	z-index:9999999999999999;
	opacity:0;
	visibility:hidden;
}
.socil-icon ul li:hover .cart-wrap{
	opacity:1;
	visibility:visible;
	top:100%;
}
.sub-total{
	font-size:14px;
	font-family:open sans;
}
.cart-btn button{
	width:100%;
	height:45px;
	border-radius:3px;
	text-transform:uppercase;
	margin-top:20px;
	background:transparent;
	border:1px solid #888;
	color:#666;
}
.cart-btn button:hover{
	background:#a7cc38;
	color:#fff;
	border:1px solid #a7cc38;
}
.cart-item{
	border-bottom:1px solid #eee;
	padding:20px 0px;
}
.cart-img {
  padding-right: 10px;
}
.cart-item-details{position:relative;}
.cart-item-details a{
	color:#a7cc38;
	display:block;
	font-size:14px;
}
.cart-item-details a:hover{color:#777}
.cart-item-details span.price {
  font-size: 14px;
}
.cart-item-details span.remove {
	border: 1px solid #888;
	border-radius: 50%;
	color: #888;
	cursor: pointer;
	font-size: 10px;
	height: 17px;
	line-height: 14px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 6px;
	width: 17px;
}
.cart-item-details span.remove:hover{
	background:#f50914;
	color:#fff;
	border-color:#f50914;
}
.search-box form{
	position:relative;
}
.search-box form input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  height: 35px;
  padding-left: 5px;
  padding-right: 35px;
  width: 100%;
}`
.search-box form input:focus{border:1px solid #888}
.search-box form button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #ffffff;
	height: 35px;
	line-height: 35px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
}
.search-box form button:hover{color:#a7cc38}
.mainmenu{}
.mainmenu li{
	display:inline-block;
	position:relative;
}
.mainmenu li a {
	color: #646464;
	display: block;
	font-weight: 600;
	padding: 30px 10px;
	margin-left:15px;
	position: relative;
	text-transform: uppercase;
	font-size:14px;
}
.mainmenu li:last-child a {
  padding-right: 0;
}
.mainmenu li a span{margin-left:5px;}
.mainmenu li a:hover{color:#a7cc38}
.mainmenu li  a:after{
	position:absolute;
	content:"";
	left:0;
	bottom:0;
	background:#a7cc38;
	height:4px;
	width:0;
}
.mainmenu li:hover a:after, .mainmenu li.active a:after{width:100%;}
.mainmenu li > ul {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 3px #ddd;
	left: 15px;
	opacity: 0;
	position: absolute;
	text-align: left;
	top: 86px !important;
	visibility: hidden;
	width: 250px;
	z-index: 999;
}
.mainmenu li:hover > ul{
	padding: 10px 15px;
	top: 88px;
	visibility:visible;
	opacity:1;
}
.mainmenu li > ul.right-show {
	left: auto;
	right: 0;
}
.mainmenu li > ul li{display:block;}
.mainmenu li > ul li a {
	font-weight: 400;
	margin: 0;
	padding: 5px 0;
	text-transform: capitalize;
}
.mainmenu li > ul li a:hover{padding-left:5px;}
.mainmenu li > ul li a:after{display:none;}
.mainmenu li > .megamenu {
	background: #fff none repeat scroll 0 0;
	position: absolute;
	right: -234px;
	text-align: left;
	width: 700px;
	top: 150%;
	padding:10px 15px;
	visibility:hidden;
	opacity:0;
	transition:all .5s;
	z-index:999999999;
}
.mainmenu li:hover > .megamenu{
	visibility:visible;
	opacity:1;
	top:100%;
}
.mainmenu  li > .megamenu span{
	width:33.33%;
	float:left;
	padding-right:10px;
}
.mainmenu  li > .megamenu span a.mega-title{
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	text-transform:uppercase;
}
.mainmenu  li > .megamenu span a:after{display:none;}
.mainmenu li > .megamenu span a {
	font-weight: 400;
	margin-left: 0;
	padding: 8px 0;
	text-transform: capitalize;
}
.mainmenu li > .megamenu span a:hover{
	padding-left:10px;
}
.mainmenu li > .megamenu.megamenu2 {
  right: 0;
  width: 950px;
}
.mainmenu li > .megamenu.megamenu2 span{
	width:20%;
}
/* header end */
/*----3. slider area style start -----*/
.slider-area {
  padding: 85px 0px;
}
.single-slider h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
	margin-bottom: 20px;
}
.single-slider p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 25px;
  padding: 0 270px;
}
.single-slider a {
	color: #fff;
	display: inline-block;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 30px;
}
.single-slider a:hover{
	color:#a7cc38;
}
.slider-active .owl-controls .owl-dots{
	position:absolute;
	bottom:30px;
	right:100px;
}
.slider-active .owl-controls .owl-dot{
	width:8px;
	height:8px;
	background:#fff;
	display:inline-block;
	margin:0px 5px;
	border:2px solid transparent;
	transform:scale(1);
}
.slider-active .owl-controls .owl-dot:hover, .slider-active .owl-controls .owl-dot.active{
	background:transparent;
	transform:scale(1.5);
	border:2px solid #fff;
}
/*---- slider area style end -----*/
/*----4. blog-area start ---------*/
.blog-wrap{
	border:1px solid #888;
	border-radius:5px;
	position:relative;
}
.instagram-img{
	position:relative;
}
.blog-img img{
	border-radius:5px;
	width:100%;
}
.blog-img a, .instagram-img a{
	position:absolute;
	top:50%;
	left:50%;
	transform:translateY(-50%) translateX(-50%) scale(0);
	margin:auto;
	font-size:48px;
	color:#fff;
	z-index:9;
	opacity:0;
	visibility:hidden;
}
.blog-img:hover a , .instagram-img:hover a{
	opacity:1;
	visibility:visible;
	transform:translateY(-50%) translateX(-50%) scale(1);
}
.blog-wrap .blog-video iframe{
  height: 530px;
  width: 100%;
}
.blog-wrap .blog-audio iframe{
	height:220px;
	width:100%;
}
.blog-img.overlay:after{z-index:1;border-radius:5px;}
.blog-info {
  padding: 0 80px 30px 65px;
  position:relative;
}
.blog-meta {
  margin: 15px 0;
}
.blog-meta span{
	font-size:14px;
	margin-left:10px;;
}
.blog-meta span:first-child{
	margin-left:0px;
}
.blog-meta span i.fa-eye{color:#93cc3f}
.blog-meta span i.fa-heart-o{color:#ff0101}
.blog-meta span i.fa-comment-o{color:#4301ff}
.blog-info h2 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 15px;
}
.blog-info h2 a {
  color: #000000;
}
.blog-info a:hover{color:#a7cc38}
.blog-info p {
  margin-bottom: 20px;
}
.blog-info a{display:inline-block;}
.blog-info a:hover {color: #a7cc38;}
.blog-info > a i.fa{transition:all .5s;}
.blog-info > a:hover i.fa{padding-left:10px;}
.blog-info span.date {
  background: #a7cc38 none repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  height: 55px;
  left: 15px;
  position: absolute;
  text-align: center;
  top: -36px;
  width: 40px;
  z-index: 9999;
}
.blog-info span.date span:last-child {
	background: #000 none repeat scroll 0 0;
	border-radius: 5px;
	display: block;
	line-height: 29px;
}
.next-prev-btn .owl-controls .owl-nav div {
	border: 1px solid #fff;
	color: #fff;
	height: 40px;
	left: 30px;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 40%;
	transform: translateY(-50%);
	width: 40px;
	font-size: 18px;
	border-radius: 5px;
	opacity:0;
}
.next-prev-btn:hover .owl-controls .owl-nav div{
	opacity:1;
	top:50%;
}
.next-prev-btn .owl-controls .owl-nav div.owl-next{
	left:auto;
	right:30px;
}
.blog-img iframe{
	width:100%;
	min-height:530px;
}
.blog-others ul li {
	float:left;
}
.blog-others ul li a {
	background: #37465d none repeat scroll 0 0;
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	border:1px solid #dadada;
	font-weight:600;
}
.blog-others ul li a:hover{
	background:#a7cc38;
	border:1px solid #a7cc38;
}
/*---- blog-area end ---------*/
/*----5. instagram-area start ---------*/
.instagram-img{
	width:16.6667%;
	float:left;
}
.instagram-img img{
	transform:scale(1);
}
.instagram-img:hover img{transform:scale(1.1);}
.instagram-img.overlay:after{
	opacity:0;
	z-index:1111;
}
.instagram-img.overlay:hover:after{
	opacity:.5;
}
.instagram-img a {
	font-size: 24px;
	z-index: 9999;
}
.instagram-img img {
  width: 100%;
}
/*---- instagram-area end ---------*/
/*----6. footer-area start ---------*/
.footer-top{border-bottom:1px solid #a7cc38;}
.footer-wrap p{
	color:#fff;
}
.footer-wrap form{margin-top:40px;}
.footer-wrap input {
	background: #172226 none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	height: 40px;
	margin-bottom: 25px;
	padding-left: 10px;
	width: 100%;
}
.footer-wrap input:focus{
	border:1px solid #ddd;
}
.footer-wrap button {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #252525;
  font-weight: 300;
  height: 40px;
  text-transform: uppercase;
  width: 100%;
}
.footer-wrap button:hover{
	background:#a7cc38;
	color:#fff;
}
.footer-wrap h2.footer-title{
	color:#fff;
	padding-bottom:15px;
	font-weight:400;
	font-size:24px;
	position:relative;
	margin-bottom:25px;
}
.footer-wrap h2.footer-title:after{
	position:absolute;
	left:0;
	bottom:0;
	width:65px;
	height:3px;
	background:#fff;
	content:"";
}
.single-footer-text p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 5px;
}
.single-footer-text p i{
	color:#a7cc38;
	margin-right:10px;
	font-size:18px;
}
.single-footer-text span {
	color: #a7cc38;
	font-size: 14px;
	margin-right: 15px;
}
.single-footer-text span i{margin-right:5px;}
.footer-img a {
	float: left;
	padding: 3px;
	width: 25%;
	display:block;
	position:relative;
}
.footer-img a:before{
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	background:#a7cc38;
	opacity:0;
	left:0;
	top:0;
}
.footer-img a:hover:before{opacity:.5;}
.footer-bottom-area p{
	color:#fff;
	font-size:14px;
	margin-bottom:0px;
}
.mobile-menu.mean-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 310px;
}
/*---- footer-area end ---------*/
/*-----------------------------
		7. home2 style here 
 -------------------------------*/
.blog-search-blox form{
	position:relative;
}
.blog-search-blox input {
	background: #eeeeee none repeat scroll 0 0;
	border: 1px solid transparent;
	font-weight: 300;
	height: 45px;
	padding-left: 10px;
	width: 100%;
}
.blog-search-blox input:focus{border:1px solid # a7cc38}
.blog-search-blox button {
	border: medium none;
	color: #000;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 1px;
	top: 2px;
	width: 45px;
}
.blog-search-blox button:hover{color:#a7cc38;}
.bloger-img {padding-right: 15px;}
.bloger-img img{border:1px solid #e6e9e6;}
.bloger-info h5 {
	color: #000;
	font-size: 20px;
}
.bloger-info span{font-weight:300;}
.bloger-icon ul li{float:left;}
.bloger-icon ul li a{
	width:30px;
	height:30px;
	line-height:25px;
	text-align:center;
	display:block;
	background:#37465d;
	color:#fff;
	border:1px solid #979da7;
}
.bloger-icon ul li a:hover{background:#a7cc38}
.bloger-area p {
  margin-bottom: 0;
}
.section-title h3{
	padding-bottom:20px;
	border-bottom:1px solid #888888;
	color:#000;
	font-size:24px;
	margin-bottom:35px;
}
.categories-menu ul li a {
	border-bottom: 1px dashed #888;
	color: #000;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.categories-menu ul li a:hover{color:#a7cc38}
.recent-post {
  padding: 30px 10px;
}
.recent-post-items {
  border-bottom: 1px dashed #888;
  padding-bottom: 30px;
}
.teg-menu.p-30-10 {
  padding-bottom: 15px;
}
.post-img{padding-right:15px;}
.post-info a {
  display: block;
  line-height: 20px;
}
.post-info a:hover{
	text-decoration:underline;
	color:#000;
}
.post-info span {
	border-bottom: 1px solid #a7cc38;
	color: #a7cc38;
	display: inline-block;
	font-size: 14px;
}
.teg-menu a {
	background: #fff none repeat scroll 0 0;
	border-radius: 3px;
	color: #6b6b6b;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 15px;
	margin-right: 5px;
	padding: 10px;
	text-transform: uppercase;
}
.teg-menu a:hover {
  background: #a7cc38 none repeat scroll 0 0;
  color: #ffffff;
}
.banner-img {
	overflow: hidden;
}
.banner-img img {
	transform: scale(1);
	width:100%;
}
.banner-img img:hover{
	transform:scale(1.1);
}
/*-----------------------------
		8. home4-style here 
-------------------------------*/
.home4-blog-wrap{
	position:relative;
	overflow:hidden;
}
.home4-blog-img:after{
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	content:"";
	left:0;
	top:0;
	z-index:9999;
	opacity:0;
	transform:scaleY(0);
	transform-origin:0 0 0;
}
.home4-blog-wrap:hover .home4-blog-img:after{
	opacity:.5;
	transform:scaleY(1);
}
.home4-blog-content {
	left: 50%;
	padding: 0 100px;
	position: absolute;
	top: 65%;
	transform: translateX(-50%) translateY(-50%);
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: 999999;
	visibility: hidden;
	opacity: 0;
}
.home4-blog-wrap:hover .home4-blog-content{
	opacity:1;
	top:50%;
	visibility:visible;
}
.home4-blog-content h2 {
  color: #fff;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 25px;
  text-align: center;
}
.home4-blog-content .blog-meta{
	width:100%;
	text-align:center;
}
.home4-blog-content .blog-meta span, .home4-blog-content .blog-meta span a {
  color: #fff;
  margin-left: 5px;
}
.home4-blog-img2{
	width:50%;
}
.blog-info2 {
	width:50%;
	padding:25px 10px 30px 15px; 
}
.blog-info2 h2 {
  font-size: 19px;
  line-height: 36px;
  margin: 16px 0;
  text-transform: capitalize;
}
.blog-info2 h2 a{
	color:#a7cc38;
}
.blog-info2 h2 a:hover{
	color:#000;
}
.blog-info2 p{
	margin-bottom:30px;
}
.blog-info2 .blog-meta {
	margin-bottom: 0;
	margin-top: 22px;
}
.home4-blog-img2 img, .home4-blog-img img{
  width: 100%;
}
/*-----------------------------
		9. home5-style here 
-------------------------------*/
.home5-blog-content.home4-blog-content h2 {
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 20px;
}
.home5-blog-content.home4-blog-content {
  padding: 0 45px;
}
.home5-blog-info2 h3 {
	display: block;
	font-size: 15px;
	margin: 15px 0;
	padding-bottom: 10px;
	position: relative;
}
.home5-blog-info2 h3:before{
	position:absolute;
	width:50px;
	height:2px;
	background:#252525;
	content:"";
	bottom:0;
	left:0;
}
.home5-blog-info2 p {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 5px;
}
.home5-blog-info2 .blog-meta {
  margin-bottom: 0;
  margin-top: 12px;
}
.home5-blog-info2 .blog-meta span {
  margin-left: 5px;
}
/*-----------------------------
		10. home7-style here 
-------------------------------*/
.home7-blog-wrap .blog-info {
  padding: 0;
}
.home7-blog-wrap.blog-wrap {
  border: none;
  border-radius: 0px;
}
.home7-blog-wrap .overlay::after {
  opacity: 0;
  transform:scale(0);
}
.home7-blog-wrap:hover .overlay::after{
	opacity:.5;
	transform:scale(1);
}
.home7-blog-wrap .blog-info span.date {
	background: #37465d none repeat scroll 0 0;
	border-radius: 0;
	font-size: 24px;
	font-weight: 700;
	height: 60px;
	left: auto;
	right: 0;
	top: -370px;
	width: 60px;
}
.home7-blog-wrap .blog-info span.date span:last-child {
  background:none;
  font-size:14px;
  font-weight:400;
}
.home7-blog-wrap .blog-info h2 a {
	color: #a7cc38;
	font-size: 20px;
}
.home7-blog-wrap .blog-info p {
  margin-bottom: 0;
}
.home7-blog-wrap .blog-img img {
  border-radius:0px;
}
/*-----------------------------------------
		11. Standard post-style here 
-------------------------------------------*/
.breadcrumb-text h1{
	color:#fff;
	font-size:30px;
	font-size:400;
	letter-spacing:1px;
	margin-bottom:30px;
}
.breadcrumb-text ul li{display:inline-block;}
.breadcrumb-text ul li a, .breadcrumb-text ul li{
	color:#fff;
	font-size:24px;
}
.breadcrumb-text ul li a:hover{color:#a7cc38}
.standard-post-wrap .blog-info { padding: 0;}
.standard-post-wrap.blog-wrap { border: medium none;}
.standard-post-wrap .blog-meta {
  padding-left: 65px;
}
.standard-post-content {
	border: 1px solid #888;
	border-radius: 5px;
	padding: 30px 90px;
}
.standard-post-content i{
	font-size:36px;
	margin-bottom:30px;
	color:#a7cc38;	
}
.standard-post-content p{
	font-size:24px;
	line-height:36px;
	margin-bottom:0px;
}
.standard-post-img p{line-height:30px}
.tag-area span{	font-size:18px;}
.tag-area ul { display: inline-block;}
.tag-area li {display:inline-block;}
.tag-area li a{
	font-size:18px;
}
.share-icon ul li{
	display:inline-block;
	margin-right:15px;
}
.share-icon ul li a{
	display:block;
	height:40px;
	width:40px;
	text-align:center;
	border-radius:50%;
	line-height:36px;
	background:#000;
	color:#fff;
	border:1px solid transparent;
}
.share-icon ul li a:hover{
	background:#fff;
	color:#ff0000;
	border-color:#ebebeb;
}
.comment-wrap{
	padding-bottom:10px;
	border-bottom:1px solid #888886;
}
.comment-img{padding-right:15px;}
.comment-text a {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
}
.comment-text a:hover{color:#a7cc38}
.comment-text p {font-size: 16px;}
.comment-text span, .comment-text span a{
	font-size:14px;
	color:#a7cc38;
}
.tag-area.mtb-70 {
  margin: 50px 0;
}
.comment-text span.pull-right span{
	margin-right:15px;
}
.standard-post-form p{
	width:50%;
	float:left;
	padding-left:30px;
	margin-bottom:0;
}
.standard-post-form p:first-child{padding-left:0px;}
.standard-post-form input, .standard-post-form textarea{
	width:100%;
	border:1px solid #888;
	height:40px;
	padding-left:10px;
	color:#a0a0a0;
	font-size:14px;
	margin-bottom:40px;
	border-radius:5px;
}
.standard-post-form input:focus, .standard-post-form textarea:focus{border:1px solid #888}
.standard-post-form textarea{
	height:255px;
}
.standard-post-form button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #888;
	border-radius: 5px;
	color: #888;
	font-size: 18px;
	padding: 10px 50px;
}
.standard-post-form button:hover{
	color:#fff;
	background:#a7cc38;
	border-color:#a7cc38;
}
/*-----------------------------------------
		12. Typography post-style here 
-------------------------------------------*/
.standard-post-wrap p.text{
	font-size:24px;
	color:#a7cc38;
	padding-left:20px;
	line-height:29px;
	margin:30px 0px;
}
.headding-area h1, .headding-area h2, .headding-area h3, .headding-area h4, .headding-area h5,.headding-area h6{
	color:#000;
	margin-bottom:35px;
	font-weight:400;
}
.headding-area p{
	padding-bottom:30px;
	margin-bottom:35px;
	border-bottom:1px solid #888;
}
.headding-area{border-bottom:1px solid #888;}
.headding-area h1{font-size:28px;}
.headding-area h2{font-size:25px;}
.headding-area h3{font-size:22px;}
.headding-area h4{font-size:19px;}
.headding-area h5{font-size:17px;}
.headding-area h6{font-size:15px;}
.blockquote h1{
	margin-bottom:40px;
	font-size:24px;
	color:#000;
}
.blockquote p{
	margin-bottom:35px;
}
.blockquote ul li{
	font-family: 'Open Sans', sans-serif;
	margin-bottom:5px;
}
.blockquote ul li i{margin-right:10px;}
/*-----------------------------------------
		13. categories-style here 
-------------------------------------------*/
.categories-img img {
  width: 100%;
}
.categories-img{
	position:relative;
	display:block;
}
.categories-img.overlay:after{
	opacity:0;
	z-index:999;
	transform:scale(0);
}
.categories-img.overlay:hover:after{
	opacity:.5;
	transform:scale(1);
}
.categories-img a{
	position:absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%) scale(0);
	color:#fff;
	font-size:30px;
	z-index:9999;
	opacity:0;
	visibility:hidden;
}
.categories-img:hover a{
	opacity:1;
	visibility:visible;
	transform:translateX(-50%) translateY(-50%) scale(1);
}
.categories-info span, .categories-info strong{
	font-size:14px;
	color:#a7cc38;
	font-family:open sans;
	display:inline-block;
}
.categories-info  h3{margin:20px 0px;}
.categories-info  h3 a{
	font-size:24px;
	display:block;
	color:#a7cc38;
	font-weight:400;
}
.categories-info  h3 a:hover{color:#000;}
.categories-info p {
  margin-bottom: 20px;
}
.categorie{
	padding:10px 0px;
	border-bottom:1px solid #888;
	border-top:1px solid #888;
}
.name span, .comment span{
	color:#888888;
	margin-right:10px;
}
.categorie-icon ul li, .categorie-icon ul{
	display:inline-block;
}
.categorie-icon ul li a{
	margin-right:15px;
	display:inline-block;
	color:#888;
	font-size:14px;
}
.categorie-icon ul li a:hover{color:#ff0000;}
span.comment{
	padding-left:15px;
	position:relative;
}
span.comment::before {
	background: #888 none repeat scroll 0 0;
	content: "";
	height: 50px;
	left: 0;
	position: absolute;
	top: -13px;
	width: 1px;
}
.categorie-wrap .categories-video iframe {
	height: 244px;
	width: 100%;
}
/*-----------------------------------------
		14. shop-style here 
-------------------------------------------*/
.shop-wrap:hover{box-shadow:0 0 30px 1px #e1e1e1;}
.shop-items{box-shadow:0px 0px 6px #f5f5f5}
.shop-img{position:relative;}
.shop-icon{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background:rgba(0, 0, 0, .5);
	padding:30px 0px;
	transform:scaleY(0);
	transform-origin:bottom;
	opacity:1;
}
.shop-wrap:hover .shop-icon{
	transform:scaleY(1);
	opacity:1;
}
.shop-icon ul li{
	display:inline-block;
	position:relative;
}
.shop-icon ul li a{
	margin:0px 15px;
	display:block;
	color:#fff;
	font-size:18px;
}
.shop-icon ul li a:hover{color:#a7cc38;}
.shop-icon ul li a::before {
  background: #888 none repeat scroll 0 0;
  content: "";
  height: 15px;
  left: -2px;
  position: absolute;
  top: 7px;
  width: 1px;
}
.shop-icon ul li:first-child  a:before{display:none;}
.shop-content{
	padding:15px 20px;
	font-family:open sans;
}
.shop-range ul li{
	display:inline-block;
	margin-right:5px;
	color:#e79123;
}
.add-to-cart{
	margin-right:20px;
	margin-top:20px;
	transform:scale(0);
	opacity:0;
}
.shop-wrap:hover .add-to-cart{
	opacity:1;
	transform:scale(1);
}
.add-to-cart a{
	width:40px;
	height:40px;
	background:#2d3b3e;
	display:block;
	color:#fff;
	text-align:center;
	line-height:35px;
	border-radius:3px;
}
.add-to-cart a:hover{background:#a7cc38}
/*-----------------------------------------
		15. shop2-style here 
-------------------------------------------*/
.category-menu{
	font-family:open sans;
}
.shop-title h4{
	padding-bottom:20px;
	border-bottom:1px solid #888;
	font-size:14px;
	color:#000;font-weight:700;
}
.category-menu .panel-default > .panel-heading {
  background-color: transparent;
  border-color: transparent;
}
.category-menu .list-group-item {
  border: medium none;
  display: block;
  padding: 5px 0 5px 30px;
  position: relative;
}
.category-menu .panel-heading {
  border-radius: 0;
  padding: 5px 15px;
}
.category-menu .panel-group .panel {
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
}
.category-menu .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: medium none;
}
.category-menu .panel {
  box-shadow: none;
}
.category-menu .panel.panel-default::before {
  content: "\f0d7";
  font-family: fontawesome;
  font-size: 14px;
  left: 0;
  position: absolute;
  top: 4px;
}
.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  background: #888888 none repeat scroll 0 0;
  border: medium none;
  margin-bottom: 20px;
}
.ui-slider-horizontal {
  height: 5px;
}
.ui-slider-range.ui-corner-all.ui-widget-header {
  background: #a7cc38;
}
.ui-slider .ui-slider-handle {
  background: #e79123;
  border: 1px solid #e79123;
  cursor: e-resize;
  height: 12px;
  top: -4px;
  width: 12px;
}
.filter-by-price .ui-slider-horizontal .ui-slider-handle {
  margin-left: 0px;
}
.filter-by-price p {
  bottom: -60px;
  color: #444;
  display: inline-block;
  font-weight: 700;
  left: 0;
  position: relative;
}
.filter-by-price input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  width: 83px;
}
.size-menu ul  li {
	margin-bottom:15px;
	font-family:open sans;
}
.shop-img{position:relative;}
.shop-img > a{
	position:relative;
	display:block;
}
.shop-img > a:after{
	width:100%;
	height:100%;
	background:#000;
	position:absolute;
	content:"";
	left:0;
	top:0;
	opacity:0;
	transform:scaleY(0);
	transform-origin:0 0 0;
}
.shop2-wrap:hover .shop-img > a:after{
	opacity:.3;
	transform:scaleY(1);
}
.shop-cart {
	left: 50%;
	position: absolute;
	top: 60%;
	transform: translateY(-50%)translateX(-50%);
	width:100%;
	text-align:center;
	opacity:0;
	visibility:hidden;
}
.shop2-wrap:hover .shop-cart{
	top:50%;
	opacity:1;
	visibility:visible;
}
.shop-cart ul li{margin-bottom:20px;}
.shop-cart ul li:last-child{margin-bottom:0;}
.shop-cart ul li a {
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  font-family: open sans;
  height: 40px;
  line-height: 36px;
  text-transform: uppercase;
  width: 130px;
}
.shop-cart ul li a:hover{background:#000;border-color:#000}
.shop2-wrap .shop-content h4{
	position:relative;
	display:inline-block;
	padding-bottom:15px;
}
.shop2-wrap .shop-content h4::before {
	background: #000;
	bottom: 0;
	content: "";
	height: 1px;
	left: 13px;
	position: absolute;
	width: 70px;
	z-index: 9;
}
.shop2-wrap .shop-content span{
	display:block;
}
.special-offer-img img, .shop-img img {
	width: 100%;
}
.product-tab {
	padding: 0px 14px;
}
.product-img{
	width:100%;
	padding:0px 10px;
}
.product-img a{
	display:block;
	box-shadow:0px 0px 6px #f5f5f5;
}
.product-img a:hover{box-shadow:0 0 5px 1px #ddd;}
.product-active .owl-item {
	padding: 10px 0;
}
.nav-tabs {
  border-bottom:none;
}
.product-active .owl-nav div {
	box-shadow: 0 0 2px #ddd;
	color: #efeeee;
	font-size: 30px;
	left: -35px;
	padding: 46px 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.product-active .owl-nav div:hover{
	color:#a7cc38;
	box-shadow: 0 0 5px #ddd;
}
.product-active .owl-nav div.owl-next{
	left:auto;
	right:-35px;
}
.single-product-content h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.shop-range ul{display:inline-block;}
.product-categorie-icon span, .single-product-content span, .shop-range span, .quantity span strong{
	font-family:open sans;
}
.shop-range span{
	margin-left:15px;
}
.single-product-content span{
	margin-right:30px;
}
.text {
  border-bottom: 1px solid #efeeee;
  border-top: 1px solid #efeeee;
  margin: 25px 0;
  padding: 25px 0;
}
.quantity span {
	float: left;
	width: 50%;
}
.quantity select {
  color: #888;
  padding: 7px 15px;
}
.quantity span option {
	border-right: 1px solid #888;
	color: #888888;
	font-size: 14px;
	padding: 0 22px;
}
.categorie-icon span{margin-right:10px;}
.product-categorie-icon ul{
	display:inline-block;
	margin-right:30px;
}
.categorie-icon.product-categorie-icon li a{
	font-size:18px;
}
.tab-menu ul li{
	display:inline-block;
}
.tab-menu ul li a {
  color: #888;
  display: block;
  padding: 15px 70px 0 0;
  position:relative;
}
.tab-menu ul li a::after {
	background: #a7cc38 none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 0;
}
.tab-menu ul li:hover a:after, .tab-menu ul li.active a::after{
	width:80%;
}
.tab-menu ul li a:hover{
	color:#000;
}
.description{
	padding:30px 0px;;
}
.simple-product-tab-menu ul li {
  float: left;
}
.simple-product-tab-menu ul li a {
  background: #fff none repeat scroll 0 0;
  display: block;
  font-size: 14px;
  padding: 10px 15px;
}
.simple-product-tab-menu ul li.active a {
  background: #A0C03C none repeat scroll 0 0;
  color: #fff;
  }
.review-area h2{
	font-size:24px;
	text-transform:uppercase;
	margin:30px 0;
}
.review-content{
	padding:15px;
}
.product-description li {
  margin-bottom: 10px;
}
.review-img {
  float: left;
  width: 5%;
  margin-right:15px;
}
.review-area ul li .review-content {
  border: 1px solid #e4e1e3;
  border-radius: 5px;
  margin-left: 70px;
  width: 90%;
}
.review-area ul li.review-1 .review-content {
  width: 45%;
}
.related-products-title h3{
	font-size:24px;
	color:#000;
}
.product-tab2.product-tab {
  float: left;
  width: 83px;
  padding-right:10px;
}
.product-tab2 .product-img {
  padding: 0;
  margin-bottom:20px;
}
.tab-content2{
	width:84%;
	float:left;
	padding-left:10px;
}
.single-product-content2 .text {
  padding: 0;
  border: none;
}
.single-product-content.single-product-content2 .quantity span {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
.shop-range.mb-30 {
  margin-bottom: 20px;
}
/*------------------------------------------
		16. cart style here 
 ------------------------------------------*/
.cart-table{
	padding:70px 0px;
	border-bottom:1px solid #efeeee;
}
.table-content{
	font-family:open sans;
}
 .table-content table {
	border:1px solid #efeeee;
	width: 100%;
}
.table-content table th {
	font-weight: 700;
	padding: 15px 10px;
	text-transform: uppercase;
	background:#a7cc38;
}
.table-content table th{
	font-size:18px;
	color:#fff;
	font-weight:400;
}
.table-content table td {
  border-bottom: 1px solid #efeeee;
  border-right: 1px solid #efeeee;
}
.cart-item2{background:#f8f8f8;}
.table-content table td {padding: 20px 25px;}
.product-thumbnail img {width: 60px;}
.product-number{font-weight:600;}
.product-remove a {
  border-radius: 50%;
  color: #888888;
  display:block;
  font-size: 14px;
  font-weight: 700;
  width:20px;
  height:20px;
  text-align:center;
  line-height:18px;
}
.product-remove a:hover{
	background:#ff0000;
	color:#fff;
}
.product-quantity input {
  width: 80px;
  height:25px;
  border:1px solid #efeeee;
}
.product-quantity input:focus{border:1px solid #888}
.cart-item2 .input-text{background:#f8f8f8}
.input-text{
	height:35px;
	width:200px;
	border:1px solid #efeeee;
	color:#888;
	padding-left:10px;
	margin-right:20px;
}
.button{
	height:35px;
	width:200px;
	background:#a7cc38;
	border:1px solid #a7cc38;
	color:#fff;
}
.button:hover{
	background:#888;
	border-color:#888;
}
.calculate-shipping-title h2{
	text-transform:uppercase;
	font-family:oswald;
}
.calculate-shipping-title p{
	margin-bottom:30px;
}
.calculate-shipping select{
	width:100%;
	height:70px;
	border:1px solid #f4f4f4;
	padding-left:10px;
	color:#888;
	margin-bottom:40px;
}
.calculate-shipping select:focus{border:1px solid #888}
.calculate-shipping select option{
	padding-left:1px solid #f4f4f4;;
}
/*------------------------------------------
			17. About Us style here 
 ------------------------------------------*/
.section-title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.about-img img {
  width: 100%;
}
.about-content p{margin-bottom:30px;}
.about-content ul{margin-bottom:30px;}
.about-content ul li {
	font-family: open sans;
	margin-bottom: 5px;
}
.about-content ul li i{
	margin-right:10px;
	font-size:14px;
 }
.about-text {
	border-left: 1px solid #888;
	color: #a7cc38;
	font-size: 18px;
	margin-left: 50px;
	padding-left: 50px;
	position: relative;
}
.about-text::after {
	color: #888;
	content: "";
	font-family: fontawesome;
	font-size: 14px;
	left: -50px;
	position: absolute;
	top: 0;
}
.about-content .categorie-icon{
	position:relative;
}
.about-content .categorie-icon::after {
	background: #888 none repeat scroll 0 0;
	content: "";
	height: 1px;
	position: absolute;
	right: 0;
	top: 15px;
	width: 68%;
}

/*------------------------------------------
			18. Checkout style here 
 ------------------------------------------*/
.checkout{
	font-family:open sans;
}
.checkout-title h2 {
	margin-bottom: 40px;
}
.from-style select, .from-style input, .from-style textarea {
	border: 1px solid #888;
	height: 35px;
	width: 100%;
	margin-bottom: 30px;
	padding-left: 10px;
	border-radius: 5px;
}
.from-style select:focus, .from-style input:focus, .from-style textarea:focus{border:1px solid #a7cc38}
.from-style select option {
	border-right: 1px solid #888;
	padding: 5px;
}
.from-style textarea {
	height:100px;
	padding-top:5px;
}
.checkout-product-wrap {
	border:1px solid #888;
	border-radius:5px;
}
.checkout-product-wrap ul li.total{
	padding:20px 15px;
}
.checkout-product-wrap ul li{
	border-bottom:1px solid #888;
	padding:15px;
}
.checkout-product-wrap ul li:last-child{border-bottom:none;}
.payment-wrap  {
	padding: 30px 50px 30px 15px;
}
.checkout-form{
	padding: 30px 50px 30px 0px;
}
.payment-wrap h3{
	font-size:18px;
	color:#252525;
	margin-bottom:30px;
	font-weight:400;
	text-transform:uppercase;
}
.payment-info{
	border-bottom:1px solid #888;
	margin-bottom:20px;
}
.payment-info:last-child{
	border:none;
	margin-bottom:0;
}
.payment-info h4{
	display:inline-block;
	color:#0b0b0b;
	font-size:16px;
	font-weight:400;
}
.payment-info input {
  border: 1px solid #888;
  margin-top: 11px;
  color:#888;
}
.payment-info p{
	color:#0b0b0b;
	font-size:14px;
	padding-right:30px;
}
.checkout-form p{
	display:inline-block;
}
.checkout-form button{margin-top:30px;}
.checkout-form button:hover{
	border-color:#888;
}
/*------------------------------------------
			19. contact style here 
 ------------------------------------------*/
#googleMap {
  height: 400px;
  margin: 0px 0 50px;
  width: 100%;
}
.contact-wrap .from-style p {
	float: left;
	margin-bottom: 0;
	padding-left: 30px;
	width: 33.33%;
	padding-right: 0;
}
.contact-wrap .from-style p:first-child{padding-left:0px;}
.contact-wrap .from-style input, .contact-wrap textarea {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  height: 45px;
  margin-bottom: 30px;
  padding-left: 10px;
}
.contact-wrap textarea:focus, .contact-wrap .from-style input:focus{border:1px solid #ddd}
.contact-wrap textarea{
	height:266px;
}
.contact-wrap button {
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius:5px;
}
/*------------------------------------------
		20. coming soon style here 
 ------------------------------------------*/
.coming-soon-area {
  min-height: 670px;
}
.coming-soon-heading {
  padding: 100px 0 100px;
}
.coming-soon-heading h1 {
  color: #fff;
  font-size: 100px;
}

.cdown.days {
  width: 300px;
}
.cdown.hour {
  width: 200px;
}
.cdown.minutes {
  width: 200px;
}
.cdown.second > span {
  width: 200px;
}
.time-count {
  color: #fff;
  font-size: 100px;
}
.timer span p {
  color: #a7cc38;
  display: inline-block;
  font-size: 24px;
}
.deal-count {
  padding-bottom: 100px;
}
.subscribe-menu{
  margin-bottom: 25px;
}
.subscribe-menu ul li{
	display:inline-block;
	margin-right:30px;
}
.subscribe-menu ul li a{
	font-size:24px;
	color:#fff;
	font-weight:400;
}
.subscribe-menu ul li a:{
	color:#a7cc38;
}
.share-area {
  border-top: 1px solid #888;
  padding-top:25px;
}
.share-area .categorie-icon a{
	font-size:18px;
}
.share-area .categorie-icon a {
  font-size: 18px;
  color: #fff;
}
/*------------------------------------------
		21. 404 soon style here 
 ------------------------------------------*/
.area-404{
	 height:952px;
 }
.wrap-404{
	padding-top:65px;
}
.wrap-404 img{
	margin-bottom:80px;
}
.wrap-404 p{
	font-size:24px;
	color:#fff;
	line-height:36px;
	margin-bottom:40px;
}
.wrap-404 > a {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	color: #000;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	width: 180px;
}
.wrap-404 > a:hover{
	background:#e79123;
	color:#fff;
}
.wrap-404 .subscribe-menu{
	margin-top:110px;
}



.cf-msg {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.cf-msg p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
    text-transform: capitalize;
}